.container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container label {
    margin-right: 10px;
    color: #001d3d;
}

.active {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #001d3d;
    border: solid 2px #001d3d;
}

.inactive {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: solid 2px #001d3d;
}